!!! Strict
%html
  %head
    %title Da Web Site 
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{ :rel => "stylesheet", :type =>"text/css", :href=>"/styles.css"}
    %script{ :src => 'http://use.typekit.com/ime1wir.js', :type=> 'text/javascript'}
  %body
    %canvas{ :id => "ercanvas"}
