doctype Strict
html
  head
    title 🍸 
    link href='/images/ico.ico'  rel='Shortcut Icon'
    link href='/stylesheets/styles.css' media='screen' rel='stylesheet' type='text/css'


	body
	  #wrapper
      == yield
