.clear {
  clear: both; }

#wrapper {
  width: 1024px;
  margin: 50px auto; }

hr {
  border-bottom: #e6e5e5;
  opacity: 0.3; }

h1, h2, h3, h4, p, a, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  color: #282827; }

h1 {
  font-size: 6em;
  letter-spacing: -6px;
  line-height: 0.95em;
  margin: 10px 0;
  color: black; }

h2 {
  font-size: 4em;
  letter-spacing: -4px;
  line-height: 0.85em; }

h3 {
  font-size: 3em;
  letter-spacing: -3px;
  line-height: 0.85em;
  margin: 10px 0 20px 0; }

h4 {
  font-size: 2em;
  letter-spacing: -0.5px;
  line-height: 0.85em;
  margin: 10px 0 20px 0; }

p, a, li {
  font-size: 1.2em; }

a {
  color: #fc5401; }
  a:hover {
    color: #282827; }

li {
  line-height: 30px; }

.button.orange {
  background: #e37600;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange', endColorstr='$orangered');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e37600), to(#fc5401));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #e37600, #fc5401);
  /* for firefox 3.6+ */
  border: 1px solid #fc5401;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 3px 2px -2px gray;
  margin: 20px 0; }
  .button.orange a {
    text-decoration: none; }
  .button.orange p {
    margin: 0;
    font-size: 1em;
    color: white; }
  .button.orange:hover {
    background: #fc5401;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orangered', endColorstr='$orange');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fc5401), to(#e37600));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #fc5401, #e37600);
    /* for firefox 3.6+ */
    border: 1px solid #fc5401; }

.title {
  width: 100%;
  border-bottom: 3px solid black;
  margin: 0 0 40px 0; }

.twocolumn {
  width: 50%;
  float: left;
  margin: 0 0 50px 0; }

form {
  width: 100%;
  padding: 10px;
  background: white;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$lightgrey');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e5e5));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #e6e5e5);
  /* for firefox 3.6+ */
  border: 1px solid #e6e5e5;
  position: relative;
  margin: 20px 0 50px 0; }

form:before, form:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 8px;
  left: 10px;
  width: 60%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg); }

form:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg); }

input, textarea, select {
  width: 95%;
  border: 1px solid #e6e5e5;
  height: 35px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  color: #959494; }

select {
  width: 99%;
  height: 40px;
  font-size: 1.2em; }

textarea {
  height: 100px; }

label.label_input {
  width: 95%;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 2px;
  z-index: 1;
  padding: 13px 3px 13px 10px;
  line-height: 20px;
  white-space: nowrap;
  cursor: text;
  display: block;
  font-size: 1.1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #959494; }

label {
  font-size: 1.2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #959494;
  float: left; }

.input-placeholder {
  position: relative; }

.button.orange.send {
  width: 30%;
  margin: 10px 0 10px 150px;
  line-height: 0;
  letter-spacing: 0; }

.boxui.header, .boxui.box {
  width: 100%;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: white;
  border: 1px solid #e6e5e5;
  margin: 40px 0 0 0;
  background: white;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$lightgrey');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e5e5));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #e6e5e5);
  /* for firefox 3.6+ */
  padding: 10px; }
  .boxui.header p, .boxui.box p {
    margin: 0; }

.boxui.box {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin: 0;
  background: white; }

label, select {
  font-size: 1.1em; }

.radio {
  width: 5%;
  float: left;
  height: 22px; }
